* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/underwater.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.logo {
    margin-top: 20px;
    width: 150px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: azure;
    padding: 10px 25px;
    border-radius: 30px;
    background: aqua;
    border: 1px solid azure;
    outline: none;
    cursor: pointer;
}

.content {
    color: azure;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1 {
    font-size: 75px;
    margin: 10px 0 30px;
    line-height: 80px;
    width: 500px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00d7fd, hsl(206, 51%, 26%));
    position: absolute;
    right: 0;
    top: 0;
}

.menu {
    display: block;
    width: 25px;
    margin: 56px auto 0;
    cursor: pointer;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialLink {
    margin-bottom: 10px;
}

.socialIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite both;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 0;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1.1s;
    width: 10px;
}

.bubbles img:nth-child(3) {
    animation-delay: 1s;
    width: 30px;
}

.bubbles img:nth-child(4) {
    animation-delay: 3s;
    width: 20px;
}

.bubbles img:nth-child(5) {
    animation-delay: 5.69s;
    width: 15px;
}

.bubbles img:nth-child(6) {
    animation-delay: 7s;
}

.bubbles img:nth-child(7) {
    animation-delay: 15s;
    width: 45px;
}

.bubbles img:nth-child(8) {
    animation-delay: 2.6;
    width: 16px;
}